h1 {
  position: absolute;
  width: 944px;
  height: 244px;
  left: 270px;
  top: -15px;

  font-family: Mate;
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 244px;
  /* identical to box height */


  color: #FFFFFF;
}

#play {
  position: absolute;
  width: 450px;
  height: 244px;
  left: 786px;
  top: 412px;
  
  font-family: Mate;
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 244px;
  /* identical to box height */
  
  
  color: #000000;
  position: absolute;
  width: 593px;
  height: 280px;
  left: 731px;
  top: 394px;

  background: #B95ED9;
  border-radius: 78px;
}

#INSTRUCTIONS {
  position: absolute;
  width: 470px;
  height: 79px;
  left: 786px;
  top: 726px;
  
  font-family: Mate;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 79px;
  
  color: #000000;
  position: absolute;
  width: 563px;
  height: 112px;
  left: 743.5px;
  top: 709px;

  background: #1C4AC0;
  border-radius: 78px;
  
}
canvas {
  background-image: url("SBH_homepage 1.png");
}
#overlay {
  position: absolute;
  display: none;
  width: 1440px;
  height: 1024px;
  top: 9px;
  left: 4px;
  right: 0;
  bottom: 0;
  background-image: url("instructions.png");
  z-index: 2;
  cursor: pointer;
}
body {
  width: 1440px;
  height: 1024px;
}
html {

  width: 1440px;
  height: 1024px;
}