canvas {
  border: 1px solid #000000;
  position: relative;
  background: url(SBH_homepage\ 1.png);
  height: 100vh;
  background-size: cover;
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: moving 5s linear infinite;
  
}
.img-area{
  position: absolute;
  bottom: 300px;
  left: 350px;
}

@keyframes moving{
  from{
    background-position: 0 0;
  }
  to{
    background-position:1000000% 0 ;
  }
}